@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

@font-face {
  font-family: autography;
  src: url("../fonts/Autography.otf") format("opentype");
}

@font-face {
  font-family: signature;
  src: url("../fonts/Photograph Signature.ttf") format("opentype");
}

.carousel-inner,.carousel,.item,.container,.fill {
  height:100%;
  width:100%;
  background-position:center center;
}

.carousel-item {
  position: relative;
  max-height: auto;
  height: 750px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  left: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h5 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffa601;
}

.carousel-caption h5 img {
  padding-bottom: 12px;
}

.carousel-caption p {
  transition: 0.6s;
  margin: auto;
  font-size: 55px;
  line-height: 1.9;
  font-family: 'signature', sans-serif;
  color:#fff;
  font-weight: 300;
}

.carousel-caption p:hover {
  transition: 0.6s;
  color: aqua;
  /* color: #c200fd; */
  cursor: pointer;
}

#desc {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
  cursor: default;
}

.carousel-caption .link {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  color: #000000;
  font-weight: 200;
}

.carousel-caption a {
  transition: 0.5s;
  text-decoration: None;
  background: aqua;
  padding: 10px 30px;
  display: inline-block;
  color: #000000;
  margin-top: 15px;
  font-weight: 200;
}

.carousel-caption a:hover {
  transition: 1s;
  background: aqua;
  font-weight: 200;
  color: #000000;
  box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 40px aqua, 0 0 80px aqua;
} 
.carousel-caption .link a span {
  position: absolute;
  display: block;
}

.carousel a .carousel-control-prev{
  height: auto;
  width: auto;
  position: relative;
  color: transparent;
}


.navbar {
  background-image:
    linear-gradient(
      to bottom,
      #C0C0C0
    );
}
.kosu {
  text-align: center;
  padding-top: -200px;

}

.navbar-dark {
  transition: 0.5s;
  background-color: 	#C0C0C0;
}

.navbar-dark.scrolled {
  transition: 0.5s;
  background-color: transparent;
}

.navbar-nav a {
  transition: 0.5s;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
  padding-right: 7.5px;
  letter-spacing: 1px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: aqua;
}

.navbar-nav a:hover {
  color: aqua;
  transition: 0.6s;
}

.navbar .navbar-nav .nav-item .active {
  transition: 0.3s;
  font-weight: 300;
  color: aqua;
}

.navbar-dark .navbar-brand {
  transition: 0.5s;
  color: #ffffff;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'signature', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.navbar-dark .navbar-brand:hover {
  color: #7FFFD4;
  color: #000000;
  transition: 0.8s;
}
.clr {
  color: aqua;
  margin-top: 15%;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
#particles-js
{
  height: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'signature', sans-serif;
  font-size: 250%;
  color: #000000;
}

.particles-js-canvas-el {
  position: absolute;
}
.pg {
  height: 150px;
  width: 150px;
  margin-bottom: -10px;
}

.bottom-container{
  background-color: #C0C0C0;
  height: 30px;
  margin: 0 0 0 0;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}
.footer-link{
  margin-right: 30px;
  margin-bottom: 5px;
  text-decoration:none;
  color: #000000;
}
.copyrights{
  margin-top: 20px;
  text-align: center;
  color: #000000;
  font-size: 0.75rem;
  margin-right: 30px;
}
.z{
  height: 20px;
  width: 20px;
}
.b{
  height: 20px;
  width: 20px;
}
.c{
  height: 20px;
  width: 20px;
}
.d{
  height: 20px;
  width: 20px;
}
.w {
  height: 20px;
  width: 20px;
}
.contact {
  background-color: black;
}
.vijay {
  background-color: #A08BD0;
}

#contact-h5 {
  margin-top: 10px;
  transition: 0.5s;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  display: inline-block;
  font-size: 44px;
  font-family: 'signature', sans-serif; 
  font-weight: 200; 
  letter-spacing: 1px;
}

#contact-h5:hover {
  transition: 0.5s;
  color: aqua;
}

#contact img {
  top: 100px;
  margin-top: -10px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border-radius: 1000px;
}

.contact .col-md-4 .card-img {
  padding-top: 25px;
  height: 50%;
  width: 50%;
}

.contact-title {
  color: aquamarine;
  font-size: 26px;
  font-family: 'Oswald', sans-serif; 
  font-weight: 300; 
  letter-spacing: 1px;
}

.contact-text {
  color: #A08BD0;
  font-size: 24px;
}

.contact-text a{
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.contact-text a:hover{
  transition: 0.5s;
  color: aquamarine;
  text-decoration: None;
}

#contact-desc {
  transition: 0.5s;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding-bottom: 1px;
  font-size: 40px;
  font-family: 'signature', sans-serif; 
  font-weight: 200; 
  letter-spacing: 1px;
} 


/*-- about-us --*/
span.border {
  width: 18%;
  background: #A08BD0;
  height: 1px;
  display: block;
  margin-top: 26px;
  position: relative;
  margin: 23px auto 0px;
}
span.border:after {
     content: ' ';
  position: absolute;
  background: #A08BD0;
  height: 7px;
  display: block;
  width: 73px;
  top: -4px;
  left: 103px;
}
span.border.one:after {
  content: ' ';
  position: absolute;
  background: #A08BD0;
  height: 7px;
  display: block;
  width: 73px;
  top: -4px;
  left: 64px;
}
.about-left-grid h3{
font-size:2.5em;
color:#FFF;
}
.about-left-grid{
width:70%;
float:right;
  margin-right: 10em;
min-height:433px;
}
.about-left-grid h2{
color:#191919;
font-size:2em;
}
.about-left-grid h2 span{
font-weight:700;
}
.about-left-grid p{
  color: #666666;
  font-size:1em;
  line-height: 2em;
  margin-top: 1.5em;
} 
.about-left-grid ul{
margin:3em 0 0 0;
padding:0;
}
.about-left-grid ul li{
display:inline-block;
}
.about-left-grid ul li:nth-child(1){
margin-right: 0.2em;
}
.about-left {
    padding: 4.5em 0 4.7em 0;
  float: right;
  background: #f4f4f4;
}
.about-left-grid ul li a {
     padding: 0.6em 2em;
  font-size: 1.2em;
  color: black;
  border: 2px solid #A08BD0;
  text-decoration: none;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
}
.about-left-grid ul li a:hover{
background:#A08BD0;
color:black;
border-radius:1.5em;
-webkit-border-radius:1.5em;
-moz-border-radius:1.5em;
-o-border-radius:1.5em;
-ms-border-radius:1.5em;
}
.about-right{
    float: left;
padding:0;
background:url(../images/Final.jpg) no-repeat 0px 0px;
min-height:580px;
background-size: cover;
 -o-background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -ms-background-size: cover;
}

#exp {
	background-color: black;
	background-repeat: repeat;
	background-size: cover;
	background-size: 100%;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
  }
  
  .exp { 
	background-position: center center;
	border: None;
	background-color: rgba(255, 255, 255, 0.12);
	max-height: auto;
	max-width: 100;
	min-height: auto;
	border-radius: 5px;
  }
  
  .exp .col-md-4 .card-img {
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	height: 50%;
	width: 50%;
  }
  
  .exp-title {
	color: #ffa601;
	font-size: 26px;
	font-family: 'Oswald', sans-serif; 
	font-weight: 300; 
	letter-spacing: 1px;
  }
  
  .exp-text {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-weight: 300;
  }
  
  .exp img {
	height: auto;
	width: auto;
	padding-top: auto;
	padding-bottom: auto;
  }
  
  #exp-desc p {
	color: white;
  }
  
  #exp-desc p a {
	transition: 0.5s;
	color: #ffa601;
	text-decoration: None;
  }
  
  #exp-desc p a:hover {
	transition: 0.5s;
	color: #fff;
	text-decoration: None;
  }
  #service {
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: auto;
	width: 100%;
	margin: 0 auto;
  }
  #portfolio {
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: auto;
	width: 100%;
	margin: 0 auto;
  }
  
  #portfolio-h5 {
	transition: 0.5s;
	color: #fff;
	display: inline-block;
	font-size: 44px;
	font-family: 'signature', sans-serif; 
	font-weight: 200; 
	letter-spacing: 1px;
  }
  
  #portfolio-h5:hover {
	transition: 0.5s;
	color: aqua;
  }
  
  #portfolio-coming-soon {
	transition: 0.5s;
	color: #ebebebe5;
	display: inline-block;
	padding-bottom: 1px;
	font-size: 36px;
	font-family: 'signature', sans-serif; 
	font-weight: 200; 
	letter-spacing: 1px;
  }
  
  #portfolio-projects {
	transition: 0.5s;
	color: #bafd00;
	display: inline-block;
	border-bottom: 0.05px solid #bafd00;
	padding-bottom: 1.5px;
	font-size: 30px;
	font-family: 'Oswald', sans-serif; 
	font-weight: 200; 
	letter-spacing: 1px;
  }
  
  .card {
	background-color: black;
  }
  
  .card img {
	display: inline-block;
	height: 35%;
	width: 35%;
  }
  
  .card-title {
	color: aqua;
	font-size: 22px;
	font-family: 'Oswald', sans-serif; 
	font-weight: 300; 
	letter-spacing: 1px;
  }
  
  .card-text {
	color: rgba(255, 255, 255, 0.90);
	font-size: 18px;
	font-family: 'Oswald', sans-serif; 
	font-weight: 200; 
	letter-spacing: 1px;
  }
  
  .card .card-body .btn {
	transition: 0.5s;
	background-color: aqua;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	border-radius: 0;
	font-family: 'Roboto', sans-serif; 
	font-weight: 300; 
  }
  
  .card .card-body .btn:hover {
	transition: 0.5s;
	background-color: #ffffff;
	color: #00000;
  }

@media(max-width:800px){
	.thumb:hover ul li {
		margin: 113px 0px 0;
	}
	.about-left-grid {
		width: 80%;
		float: none;
		margin-right: 0;
		min-height: 367px;
		margin-left: 7em;
	}
	.resp-tab-item {
		margin: 0 3px;
		padding: 6px 17px;
		font-size: 16px;
	}
	.resp-tabs-list {
		margin: 2em 0 2em 0;
		padding: 0;
	}
	span.border:after {
		height: 7px;
		width: 73px;
		top: -4px;
		left: 74px;
	}
}

@media(max-width:1366px){
	.about-left-grid {
		width: 70%;
		float: right;
		margin-right: 5em;
		min-height: 433px;
	}
	#work,.blog{
		padding:4em 0;
	}
	.footer {
		min-height: 650px;
		padding: 4em 0 0em 0;
	}
	#port {
      padding:4em 0 0 0;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -17px;
		padding: 6px 0;
	}
	
}
@media(max-width:1280px){
	
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -28px;
		padding: 6px 0;
	}
	.service-head h3 {
       font-size: 1.8em;
	}
	.about-left {
        padding: 5.5em 0 3.5em 0;
	}
	.about-left-grid p {
		font-size:0.9em;
		line-height: 2em;
		margin-top: 0.5em;
	}
}
@media(max-width:1024px){
	.about-left {
        padding:4em 0 3.5em 0;
	}
	.about-left-grid {
		width: 70%;
		float: right;
		margin-right:5em;
		min-height: 459px;
	}
	.news-text {
		float: right;
		padding: 0.7em 2em 2em 2em;
	}
	#work,.blog,#services {
		padding: 3em 0;
	}
	#port {
		padding: 3em 0 0 0;
	}
	.footer {
		min-height: 587px;
		padding: 3em 0 0em 0;
	}
	ul.year li:nth-child(2) {
		margin-top: 157px;
	}
	ul.year li:nth-child(3) {
		margin-top: 145px;
	}
	ul.year li:nth-child(4) {
		margin-top: 149px;
	}
	ul.year li:nth-child(5) {
		margin-top: 147px;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -50px;
		padding: 6px 0;
	}
}
@media(max-width:991px){
	.navigation-right ul li a {
       font-size: 0.9em;
	}
	.link-effect-3 a {
		padding: 10px 0;
		margin: 6px 4px;
	}
	.header-left {
		padding: 2em 2em 0em 0;
		float: right;
		width: 49%;
	}
	.header-right {
		padding-left: 3em;
		float: left;
		width: 50%;
		padding: 2em;
	}
	.banner-info {
		background: rgba(47, 44, 44, 0.58);
		margin-top:3em;
	}
	ul.address li ul.address-text li {
		display: inline-block;
		font-size: 0.9em;
		margin-top: 1em;
	}
	ul.address li ul.address-text li:nth-child(1) {
		width: 26%;
	}
	.about-right {
    float: none;
    min-height: 517px;
	}
	.about-left {
		padding: 3em 0 3em 0;
		float: none;
		background: #f4f4f4;
	}
	.about-left-grid {
		width:80%;
		float: none;
		margin-right: 0;
		min-height: 306px;
		margin-left: 7em;
	}
	#home {
	   min-height: 563px;  
	}
	span.border {
      width: 29%;
	}
	span.border.two {
		width: 27%;
	}
	ul.year {
		text-align: center;
		margin-left: 0;
		margin: 0 auto 2em 0;
		padding:0;
	}
	ul.year li {
		margin-top:10px;
		font-size: 1em;
		padding: 11px 0;
		width: 29%;
		display: block;
		margin: 0 auto;
		    margin-bottom: 1em;
	}
	ul.year li:nth-child(2){
		margin-top: 0px!important;
	}
	ul.year li:nth-child(3){
		margin-top: 0px!important;
	}
	ul.year li:nth-child(4){
		margin-top: 0px!important;
	}
	ul.year li:nth-child(5){
		margin-top: 0px!important;
		    margin-bottom: 0em;
	}
	.timeline > li > .timeline-badge {
		color: #fff;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		position: absolute;
		top: 16px;
		left: -3px;
	}
	.timeline:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 1px;
		background-color: #ccc;
		left: 20px;
		margin-right: -1.5px;
	}
	.team-gd {
		padding: 0;
		width: 33%;
		float: left;
	}
	.thumb:hover ul li {
		margin: 113px 0px 0;
	}
	.news-img,.news-img.two {
		float: none;
		position: relative;
		padding: 0;
	}
	.mail_right {
		padding: 2em;
		margin-top: 1em;
	}
	.about-left-grid ul li a {
		padding: 0.6em 2em;
		font-size: 1em;
	}
}
@media(max-width:800px){
	.thumb:hover ul li {
		margin: 113px 0px 0;
	}
	.about-left-grid {
		width: 80%;
		float: none;
		margin-right: 0;
		min-height: 367px;
		margin-left: 7em;
	}
	.resp-tab-item {
		margin: 0 3px;
		padding: 6px 17px;
		font-size: 16px;
	}
	.resp-tabs-list {
		margin: 2em 0 2em 0;
		padding: 0;
	}
	span.border:after {
		height: 7px;
		width: 73px;
		top: -4px;
		left: 74px;
	}
}
@media(max-width:768px){
	.about-right {
		float: none;
		min-height: 424px;
	}
	.about-left-grid {
		width: 80%;
		float: none;
		margin-right: 0;
		min-height: 367px;
		margin-left: 7em;
	}
}
@media(max-width:640px){
	.mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
		background: none;
		width: 100%;
		color: #777;
		padding: 10px 10px;
		margin-bottom: 12px;
		outline: none;
		border: 2px solid #00a78e;
		font-size: 0.9em;
	}
	.mail_right textarea {
		height: 100px;
		resize: none;
	}
	.mail_right input[type="submit"] {
		font-size: 15px;
		padding: 11px 40px;
	}
	.contact-grid1-left1 {
      padding: 1em;
	}
	.mail_left {
		padding: 0;
	}
	.mail_us {
		margin-bottom:12px;
		margin-top: 27px;
	}
	.news-text h3 {
		font-size: 1.1em;
		margin-bottom: 0.5em;
		line-height: 1.45em;
	}
	.news-grid:nth-child(3) {
		margin: 0;
	}
	.team-gd {
		padding: 0;
		width: 50%;
		float: left;
	}
	.wthree_about_right_grids {
		margin-top:2em;
	}
	span.menu {
		display: block;
		cursor: pointer;
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0px;
	}
	.navigation-right ul {
		position: absolute;
		left: 2%;
		width: 96%;
		z-index: 999;
		text-align: center;
		padding: 0px;
		margin: 13px 0px 0px;
	}
	.navigation-right ul.nav1 li {
		display: inline-block;
		width: 100%;
		margin: 0px;
		padding: 10px 0em;
	}
	ul.nav1 {
		display: none;
		margin-top: 2em;
		    background: rgba(27, 26, 26, 0.98);
	}
	.navigation-right {
		margin: 0.7em 0 0;
	}
	.navigation-right ul li a {
		display: inline-block;
	}
	.navigation-right ul.nav1 li {
		padding: 0px 0;
	}
	.navigation-right ul.nav1 li:nth-child(7){
		padding-bottom:10px;
	}
	.about-left-grid {
		width: 80%;
		float: none;
		margin-right: 0;
		min-height: 390px;
		margin-left: 7em;
	}
	span.border:after {
		height: 7px;
		width: 73px;
		top: -4px;
		left: 53px;
	}
	span.border.one:after {
		content: ' ';
		position: absolute;
		background: #A08BD0;
		height: 7px;
		display: block;
		width: 73px;
		top: -4px;
		left: 46px;
	}
	span.border.two:after {
		content: ' ';
		position: absolute;
		background: #A08BD0;
		height: 7px;
		display: block;
		width: 73px;
		top: -4px;
		left: 43px;
	}
	.modal-dialog.about {
		width: 611px;
		margin: 2em auto 0;
	}
	.about-inner img{
		width:100%;
	}
	.banner-info {
		margin-top: 2em;
	}
	.wthree_about_right_grid:nth-child(2) {
		margin-bottom: 1em;
	}
}
@media(max-width:600px){
	.modal-dialog.about {
		width: 518px;
		margin: 2em auto 0;
	}
	.portfolio-grids {
		margin-top: 1.5em;
	}
	.about-left-grid {
		width: 80%;
		float: none;
		margin-right: 0;
		min-height: 418px;
		margin-left: 7em;
	}
}
@media(max-width:480px){
	.wthree_about_right_grids {
		margin-top:1.5em;
	}
	h4.timeline-title {
      font-size: 1em;
	}
	#work, .blog, #services {
		padding: 2em 0;
	}
	.service-head h3 {
		font-size: 1.3em;
	}
	.service-head h4 {
		font-size: 0.9em;
		padding: .5em 1.2em
	}
	span.border {
		    width: 40%;
		background: #8C8989;
		height: 1px;
		display: block;
		margin: 11px auto 0px;
	}
	span.border.two {
		width: 39%;
	}
	.time-main {
		margin-top: 1.5em;
	}
	.mail_right {
		padding: 1em;
		margin-top: 1em;
	}
	.resp-tab-item {
		margin: 0 0 5px 0px;
		padding: 6px 11px;
		font-size: 14px;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -79px;
		padding: 6px 0;
	}
	ul.news li {
		display: inline-block;
		margin-right: 0.5em;
	}
	.about-right {
		float: none;
		min-height: 334px;
	}
	.about-left-grid ul {
		margin: 1.5em 0 0 0;
		padding: 0;
	}
	.about-left-grid {
		width: 93%;
		float: none;
		margin-right: 0;
		min-height: 390px;
		margin-left: 2em;
	}
	.about-left-grid ul li a {
		padding: 0.6em 2em;
		font-size: 0.9em;
	}
	.modal-dialog.about {
		width: 442px;
		margin: 2em auto 0;
	}
	.header-right {
	    padding-left:0em;
		float: left;
		width: 100%;
		padding: 1em 1em 0em 1em;
	}
	.header-right h1 {
		font-size: 1em;
		padding: .4em 1em;
	}
	.header-left {
		padding: 0em 1em 1em 1em;
		float: right;
		width: 100%;
	}
	.header-left img {
		width: 100%;
		margin-top: 3px;
	}
	.logo h1 {
		margin: 0;
		font-size: 1.8em;
	}
	.logo span {
		border: 7px solid #00a78e;
		padding: 0px 10px;
		font-size: 1.2em;
	}
	.top-header {
		padding: 1.5em 0 0 0;
	}
	.navigation-right {
		margin: 0em 0 0;
	}
	ul.year li {
		margin-top: 10px;
		font-size: 1em;
		padding: 11px 0;
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	.resp-tabs-list {
		margin: 0em 0 1em 0;
		padding: 0;
	}
}
@media(max-width:414px){
	span.menu img {
		width: 91%;
		margin-top: 8px;
	}
	.thumb:hover ul li {
		margin: 99px 0px 0;
	}
	ul.social-icons.two {
		display: block;
		padding: 0;
		margin: 1em 0;
		background: none;
	}
	.wthree_about_right_grid {
		text-align: center;
		width: 100%;
	}
	.wthree_about_right_grid_left {
		padding: 0;
		float: none;
		text-align: center;
		    width: 100%;
	}
	.wthree_about_right_grid_right {
		padding-right: 0;
		float: none;
		width: 100%;
		margin-bottom: 1em;
		    padding: 0;
	}
   .about-right {
		float: none;
		min-height: 255px;
	}
	.about-left {
		padding: 1em 0 1em 0;
	}
	span.border,	span.border.one {
      width: 44%;
	}
	span.border.two {
		width: 42%;
	}
	.about-left-grid {
		width: 93%;
		float: none;
		margin-right: 0;
		min-height: 454px;
		margin-left: 2em;
	}
	.about-right {
		float: none;
		min-height: 234px;
	}
	#port {
		padding: 1.5em 0 0 0;
	}
	ul.news li {
		display: inline-block;
		margin-right: 0em;
	    margin-bottom:10px;
	}
	ul.news li:nth-child(4) {
		margin-bottom:0;
	}
	.about-left-grid h2 {
		font-size: 1.5em;
	}
	.modal-dialog.about {
		width: 354px;
		margin: 2em auto 0;
	}
}
@media(max-width:384px){
	ul.year li {
		margin-top: 10px;
		font-size: 1em;
		padding: 11px 0;
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.5em;
	}
	a.read {
       padding: 0.5em 1.5em;
       font-size: 0.9em;
	}
	.service-head h3 {
		font-size: 1.4em;
	}
	.mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
		background: none;
		padding: 7px 10px;
		margin-bottom: 6px;
	}
	.team-gd {
		padding: 0;
		width: 100%;
		float: left;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -35px;
		padding: 6px 0;
	}
	.logo h1 {
		font-size: 1.9em;
	}
	.thumb:hover ul li {
		margin: 123px 0px 0;
	}
	.news-text h3 {
      font-size: 1.1em;
	}
	span.border, span.border.one {
		width: 49%;
	}
	 span.border.two {
		     width: 49%;
	 }
	 .about-left-grid {
		width: 97%;
		float: none;
		margin-right: 0;
		min-height: 454px;
		margin-left: 1em;
	}
	.portfolio-grids {
		margin-top: 1.2em;
	}
	.portfolio-modal .modal-content h3 {
		margin: 0 0 14px 0px;
		font-size: 1.5em;
	}
}
@media(max-width:375px){
	.banner-info {
		margin-top: 1.2em;
	}
	.about-left-grid {
		width: 97%;
		float: none;
		margin-right: 0;
		min-height: 473px;
		margin-left: 1em;
	}
	.about-left-grid ul li a {
		padding: 0.4em 1em;
		font-size: 0.9em;
	}
	.logo h1 {
		font-size: 1.7em;
	}
	span.menu img {
		width:85%;
		margin-top: 8px;
	}
	.news-text {
		float: right;
		padding: 0.5em 1em 1.5em 1em;
	}
}
@media(max-width:320px){
	.resp-tab-item {
		margin: 0 0px 4px 0;
		padding: 6px 9px;
		font-size: 13px;
	}
	.about-left-grid {
		width: 94%;
		float: none;
		margin-right: 0;
		min-height: 544px;
		margin-left: 1em;
	}
	ul.address {
		margin-top: 1em;
	}
	.header-right {
		padding-left: 0em;
		float: left;
		width: 100%;
		padding: 0.5em 0.5em 0em 0.5em;
	}
	ul.address-text b {
		font-size: 0.9em;
	}
	.logo h1 {
		font-size: 1.7em;
	}
	span.menu img {
		width:80%;
		margin-top: 8px;
	}
	#work, .blog, #services {
    padding: 1.2em 0;
	}
	span.border, span.border.one {
		width: 61%;
	}
	span.border.two {
		width: 58%;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -62px;
		padding: 6px 0;
	}
}


